.form-wrapper {
	width: 80%;
	margin: 3rem auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filter-form-item {
	display: flex;
	flex-direction: column;
	width: 25%;
	padding: 0 1rem;
	position: relative;
}

.filter-form-item input {
	/* width: 100px; */
	border-radius: 3px;
	border: 0.2px solid rgb(109, 109, 109);
	height: 2rem;
	padding: 0.5rem 0.5rem;
}

.filter-form-item input:focus {
	border: 2px solid rgb(154, 96, 192);
}

.filter-form-item label {
	margin-bottom: 0.3rem;
	font-size: 14px;
}

#first-section,
#second-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	min-width: 100%;
}

@media only screen and (max-width: 1024px) {
	.form-wrapper {
		width: 100%;
	}
	.filter-form-item {
		width: 50%;
		margin-bottom: 0.5rem;
	}
}
@media only screen and (max-width: 480px) {
	.filter-form-item {
		width: 100%;
	}
}
