.form-wrapper {
  width: 750px;
  padding: 0 50px;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-form-item {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0 1rem;
}

.filter-form-item input {
  /* width: 100px; */
}

#first-section,
#second-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 100%;
}
