@font-face {
	font-family: "Vazir";
	src: url("../../assets/fonts/Vazir.eot");
	src: url("../../assets/fonts/Vazir.woff") format("woff");
}

* {
	/* margin: 0; */
	/* padding: 0; */
	box-sizing: border-box;
	direction: rtl;
}
*:active,
*:visited,
*:focus {
	outline: 0;
}

body {
	font-family: "Vazir", Arial, sans-serif;
	font-weight: normal;
	font-size: 1rem;
}
