table {
	width: 1000px;
	border-collapse: collapse;
	margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #3498db;
	color: white;
	font-weight: bold;
}

td,
th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 14px;
}
.sortable {
	min-width: 120px;
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 1040px) {
	table {
		width: 100%;
	}

	/* Force table to not be like tables anymore */
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}
}
.sort {
	display: flex;
	justify-content: center;
}
.sort div {
	margin-right: 0.7rem;
}
.sort:hover {
	cursor: pointer;
}

.arrow {
	border: solid rgb(182, 178, 178);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	background-color: transparent;
}
.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	margin-left: 0.5rem;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.sort .active {
	border: solid rgb(62, 62, 150);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
